# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 14,
  planes => [
    {
      action => 3,
      numEntries => 8,
      entries => [
        0, 6.28548,
        1, 5.3324,
        2, 7.46972,
        3, 12.3254,
        4, 9.93986,
        5, 10.6127,
        6, 15.0077,
        7, 9.3754
      ]
    },
    {
      action => 0,
      numEntries => 8,
      entries => [
        0, 16.0202,
        1, 12.1855,
        2, 19.3988,
        3, 12.3509,
        4, 15.8626,
        5, 16.2282,
        6, 13.8151,
        7, 15.8013
      ]
    },
    {
      action => 4,
      numEntries => 1,
      entries => [
        7, 18.7033
      ]
    },
    {
      action => 0,
      numEntries => 2,
      entries => [
        2, 20.3153,
        3, 13.9254
      ]
    },
    {
      action => 0,
      numEntries => 5,
      entries => [
        2, 20.3265,
        4, 16.7947,
        5, 16.9009,
        6, 15.2239,
        7, 17.7811
      ]
    },
    {
      action => 3,
      numEntries => 3,
      entries => [
        2, 14.8431,
        3, 18.715,
        7, 15.822
      ]
    },
    {
      action => 0,
      numEntries => 3,
      entries => [
        2, 20.3266,
        4, 16.7947,
        7, 17.8026
      ]
    },
    {
      action => 1,
      numEntries => 3,
      entries => [
        0, 19.433,
        1, 21.3676,
        4, 16.6105
      ]
    },
    {
      action => 0,
      numEntries => 2,
      entries => [
        2, 20.3266,
        4, 16.7948
      ]
    },
    {
      action => 2,
      numEntries => 1,
      entries => [
        6, 19.6317
      ]
    },
    {
      action => 3,
      numEntries => 2,
      entries => [
        0, 14.5786,
        3, 18.7151
      ]
    },
    {
      action => 3,
      numEntries => 2,
      entries => [
        4, 15.9066,
        6, 19.0636
      ]
    },
    {
      action => 1,
      numEntries => 2,
      entries => [
        0, 19.433,
        3, 12.4739
      ]
    },
    {
      action => 1,
      numEntries => 8,
      entries => [
        0, 19.433,
        1, 21.3676,
        2, 12.5593,
        3, 12.3115,
        4, 16.6093,
        5, 19.4659,
        6, 17.9404,
        7, 12.5183
      ]
    }
  ]
}
