# This file is a POMDP policy, represented as a set of "lower bound
# planes", each of which consists of an alpha vector and a corresponding
# action.  Given a particular belief b, this information can be used to
# answer two queries of interest:
#
#   1. What is a lower bound on the expected long-term reward starting
#        from belief b?
#   2. What is an action that achieves that expected reward lower bound?
#
# Each lower bound plane is only defined over a subset of the belief
# simplex--it is defined for those beliefs b such that the non-zero
# entries of b are a subset of the entries present in the plane's alpha
# vector.  If this condition holds we say the plane is 'applicable' to b.
#
# Given a belief b, both of the queries above can be answered by the
# following process: first, throw out all the planes that are not
# applicable to b.  Then, for each of the remaining planes, take the inner
# product of the plane's alpha vector with b.  The highest inner product
# value is the expected long-term reward lower bound, and the action label
# for that plane is the action that achieves the bound.

{
  policyType => "MaxPlanesLowerBound",
  numPlanes => 6,
  planes => [
    {
      action => 1,
      numEntries => 7,
      entries => [
        0, 6.32772,
        1, 5.71077,
        2, 7.61077,
        3, 6.01134,
        4, 6.01134,
        5, 8.01134,
        6, 6.01134
      ]
    },
    {
      action => 2,
      numEntries => 1,
      entries => [
        1, 8.39853
      ]
    },
    {
      action => 0,
      numEntries => 1,
      entries => [
        3, 7.97861
      ]
    },
    {
      action => 1,
      numEntries => 1,
      entries => [
        2, 8.39863
      ]
    },
    {
      action => 0,
      numEntries => 1,
      entries => [
        4, 7.9787
      ]
    },
    {
      action => 0,
      numEntries => 7,
      entries => [
        0, 7.20073,
        1, 7.57968,
        2, 7.57976,
        3, 7.20069,
        4, 7.20077,
        5, 8.84066,
        6, 6.84066
      ]
    }
  ]
}
